@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background: #f4f4f4;
  --color-text-primary: #1a1a1a;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    overflow-x: hidden;
  }
}